<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    result[0] = result[0].charAt(0).toUpperCase() + result[0].substring(1);

    return result;
}

   %>
<div class="col-md-6 col-lg-4">
    <div class="thumbnail pizza-card">
        <img class="pic" src="<%= pizza.icon %>" alt="Pizza">

        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption">
            <h3><%= pizza.title %></h3>
            <p class="type"><%= pizza.type %></p>
            <p class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </p>

            <div class="specifications">
                <% if (pizza.has_small) { %>
                <div <% if (pizza.has_big) { %> class="col-xs-6 size" <% } else { %> class="col-xs-12 size" <% } %> >
                    <p class="size"><img src="assets/images/size-icon.svg"> <%= pizza.small_size.size %></p>
                    <p class="weight"><img src="assets/images/weight.svg"> <%= pizza.small_size.weight %></p>
                    <p><%= pizza.small_size.price %></p>
                    <p>грн.</p>
                    <a href="#" class="btn btn-primary buy-small">Купити</a>
                </div>
                <% } %>
                <% if (pizza.has_big) { %>
                <div <% if (pizza.has_small) { %> class="col-xs-6 size" <% } else { %> class="col-xs-12 size" <% } %> style="float: right">
                    <p class="size"><img src="assets/images/size-icon.svg"> <%= pizza.big_size.size %></p>
                    <p class="weight"><img src="assets/images/weight.svg"> <%= pizza.big_size.weight %></p>
                    <p><%= pizza.big_size.price %></p>
                    <p>грн.</p>
                    <a href="#" class="btn btn-default buy-big">Купити</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>